.footer-container{
    color: whitesmoke;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color:blanchedalmond;
    display: flex;  
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
    border-top: 2px solid black;
    width: 100%;
}

h2{
    color: black;
}
.link{
    text-decoration: none;
    color: black;
}

.viajes{
    height: 60%;
    width: 15%;
    margin-top: auto;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px  rgb(1, 39, 1);
    
}


.viajes h2{
    margin-bottom: 2%;
    margin-left: -10%;
}

.link-viajes{
    text-decoration: none;
}

.planet{
    margin-bottom: 1%;
}

.viajes li{
     margin-top: 3%;
     text-decoration: none;
     list-style: none;
}

.redes{
    height: 80%;
    width: 15%;
    margin-top: auto;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.redes h2{
    margin-bottom: 2%;
    margin-left: -10%;
}

.redes li{
     margin-top: 3%;
     text-decoration: none;
     list-style: none;
}

.logo-footer{
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin: auto 5%;
    box-shadow: 4px 2px 3px rgb(1, 14, 1);
}



.usuarios{
    height: 80%;
    width: 15%;
    margin-bottom: 3.8% ;
    padding-left: 5%;
    padding-top: 5%;
    
}

.usuarios h2{
    margin-bottom: 2%;
    margin-left: -10%;
}

.usuarios li{
     margin-top: 3%;
     text-decoration: none;
     list-style: none;
}